body {
  margin: 0;
}

@media (max-width: 52em) {
  .main {
    border: 0;
    padding: $space-xs $space;
    width: 100%;
  }
}

.document-container {
  margin: 0 auto;
  padding-top: $space-xl;
  padding-bottom: 4em;
  padding-left: $space;
  padding-right: $space;
}

@media #{$breakpoint-sm} {
  .document-container {
    padding-left: $space-lg;
    padding-right: $space-lg;
  }
}

@media #{$breakpoint-lg} {
  .document-container {
    padding-left: $space-xl;
    padding-right: $space-xl;
  }
}

.bland-box {
  border: none;
  box-shadow: none;
  background: none;
}
