body {
  margin: 0;
}

@media (max-width: 52em) {
  .main {
    border: 0;
    padding: .5rem 1rem;
    width: 100%;
  }
}

.document-container{
  @extend .max-width-4;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 4em;
}
