$marker-width-mobile: 24px;
$marker-whitespace-mobile: 4px;
$marker-width-desktop: $marker-width-mobile + 8;
$marker-whitespace-desktop: $marker-whitespace-mobile + 4;

@mixin paragraph-marker() {
  @extend .col;
  @extend .right-align;
  width: $marker-width-mobile;
  margin-right: $marker-whitespace-mobile;
  display: inline-block;

  @media #{$on-desktop} {
    width: $marker-width-desktop;
    margin-right: $marker-whitespace-desktop;
  }
}

@mixin paragraph-with-marker() {
  @extend .col;
  @extend .col-11;
  width: calc(100% - #{$marker-width-mobile + $marker-whitespace-mobile});
  word-wrap: break-word;

  @media #{$on-desktop} {
    width: calc(100% - #{$marker-width-desktop + $marker-whitespace-desktop});
  }
}
