// Typograhy styles
// ==========================================================================
// typography.scss contains both global and application specific typography

body {
  @include font-san-serif();
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  -webkit-margin-before: 0;
  margin-after: 8px;
  -webkit-margin-after: 8px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  @include font-san-serif-bold();
  color: $color-black;

}

.dark-back {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $color-white;
  }
}

h1,
.h1 {
  @include size-xxlarge();
}

h2,
.h2 {
  @include size-xlarge();
}

h3,
.h3 {
  @include size-large();
}

h4,
.h4 {
  @include size-regular();
}

h5,
.h5 {
  @include size-small();
}

h6,
.h6 {
  @include size-xsmall();
}

p {
  @include font-serif();
  @include size-regular();
}
