// Typograhy styles
// ==========================================================================
// typography.scss contains both global and application specific typography

body {
  @include font-san-serif();
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  -webkit-margin-before: 0;
  margin-after: 8px;
  -webkit-margin-after: 8px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  @include font-san-serif-bold();
  color: $color-black;

}

.dark-back {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $color-white;
  }
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2,
.h2 {
  font-size: 1.625rem;
  line-height: 1.6875rem;
}

h3,
.h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h5,
.h5 {
  @include size-small();
}

h6,
.h6 {
  font-size: .75rem;
  line-height: .875rem;
}

p {
  @include font-serif();
  @include size-regular();
}

@media #{$on-desktop} {
  h1,
  .h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h2,
  .h2 {
    line-height: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.625rem;
    line-height: 1.6875rem;
  }
}
