// Typograhy styles
// ==========================================================================
// typography.scss contains both global and application specific typography

@mixin font-merriweather() {
  font-family: "Merriweather", serif;
}

@mixin font-merriweather-light() {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

@mixin font-source-sans-pro() {
  font-family: "Source Sans Pro", sans-serif;
}

@mixin font-source-sans-pro-semibold() {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}

body {
  @include font-source-sans-pro();
  color: $color-gray-dark;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

@media (min-width: 52em) {
  h1 {
    font-size: 1.5em;
    line-height: 2em;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.6875em;
  }

  h3 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
}

h2 {
  font-size: 1.625em;
  line-height: 2em;
}

h3 {
  font-size: 1.625em;
  line-height: 1.6875em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  color: #8c7c2a;
}

h5 {
  font-size: .875em;
  line-height: 1.312em;
}

h6 {
  font-size: .75em;
  line-height: .875em;
}
