boto3
cfenv
django>=1.11,<1.12
django-admin-interface
django-autocomplete-light
django-cas-ng
django-cors-headers
django-filter
django-reversion
django-storages
django-taggit
djangorestframework
dj-database-url
gunicorn
newrelic
psycopg2
python-dateutil
requests
whitenoise
