cfenv
django>=1.10,<1.11
django-autocomplete-light
django-cors-headers
django-filter
django-taggit
django-taggit-serializer
djangorestframework
dj-database-url
gunicorn
psycopg2
python-dateutil
requests
whitenoise
