$color-black:               #000000;
$color-dk-gray:             #222222;
$color-gray:                #727375;
$color-lt-gray:             #cecfd1;
$color-very-lt-gray:        #f0f0f0;
$color-white:               #ffffff;

$color-navy:                #112e51;
$color-blue:                #1067a6;
$color-lt-blue:             #88d8f6;
$color-sky:                 #edfcff;

$color-ochre:               #8c7c2a;
$color-gold:                #ffdc37;
$color-lt-gold:             #f0e6b6;
$color-canary:              #ffee99;
$color-sunshine:            #fffae3;

$color-red:                 #cd2026;
$color-dk-red:              #981b1e;

$color-pink:                #f71dc4;
