// System-ui comes from system-font-css
$font-family-sans: system-ui, sans-serif;
$font-family-serif: "Georgia", serif;

@mixin font-san-serif() {
  font-family: $font-family-sans;
  font-style: normal;
}

@mixin font-san-serif-bold() {
  font-family: $font-family-sans;
  font-weight: 800;
}

@mixin font-san-serif-light() {
  font-family: $font-family-sans;
  font-weight: 300;
}

@mixin font-serif() {
  font-family: $font-family-serif;
  font-style: normal;
}

@mixin font-serif-bold() {
  font-family: $font-family-serif;
  font-weight: 800;
}

@mixin font-serif-light() {
  font-family: $font-family-serif;
  font-weight: 300;
}

