.editor-container {
  border: 1px solid $color-black;

  .unimplemented {
    font-family: monospace;
    background: lightpink;
  }

  div.unimplemented {
    padding: 2px 4px;
  }
}

.editor-status {
  white-space: pre-wrap;

  &.editor-status-error {
    color: $color-red;
  }
}

// https://meta.superuser.com/q/4788
kbd {
  background-color: $color-lt-gray;
  border: 1px solid $color-gray;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba($color-black, 0.2), 0 0 0 2px $color-white inset;
  color: $color-black;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 $color-white;
}

.ProseMirror-menubar {
  padding: $space-xs;
  border-bottom-color: $color-black;
}

.ProseMirror-menuitem {
  border: solid 1px $color-black;
  color: $color-black;
  margin-left: 0;
  margin-right: $space-xs;
  min-width: 1rem;
  padding-left: $space-sm;
  padding-right: $space-sm;
  text-align: center;
}

.menuitem-clickable {
  cursor: pointer;
}
