{% extends "admin/change_form.html" %}
{% comment %}
  Extend the change_form template to add a table of related requirements.
{% endcomment %}

{% block after_related_objects %}
<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
      <h2>Requirements</h2>
      <table>
        <thead>
          <tr>
            <th>Requirement</th>
            <th>Policy Section</th>
            <th>Policy Sub-Section</th>
            <th>Topics</th>
          </tr>
        </thead>
        <tbody>
          {% for req in original.requirement_set.all %}
          <tr class="form-row {% cycle "row1" "row2" %}">
            {% comment %}
              We'll let the req text be a bit longer in this view.
            {% endcomment %}
            <td><a href="{% url "admin:reqs_requirement_change" req.pk %}"
                   >{{req.req_id}}: {{ req.req_text | truncatechars:80 }}</a>
            </td>
            <td>{{ req.policy_section | truncatechars:40}}</td>
            <td>{{ req.policy_sub_section | truncatechars:40 }}</td>
            <td>{{ req.keywords.names | join:", " }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
{% endblock %}
