.app-admin_interface .form-row {
  background: $color-white;
}

#content-main .submit-row input.default {
  text-transform: none;
}

.admin-interface {

  .inline-group .tabular thead th:last-child:not([class]):not([style]) {
    text-align: left;
  }

  .module.wide h2 {
    background: none;
    padding: $space;
    font-weight: 500;
    color: $color-black;
    @include size-large();
  }

  .inline-group thead th {
    padding: $space;
  }

  td,
  th,
  thead th,
  tfoot td {
    padding: $space;
    @include size-regular();
  }

  .form-row {
    padding: $space $space-lg;
  }

  form .module.aligned div.help{
    margin-left: 0px;
    padding-left: 0px;
  }

  .submit-row {
    padding: 0px;
    background: none;
  }

  .submit-row input,
  .submit-row a.deletelink {
    padding: $space-xs $space;
    height: 34px;
  }

  .aligned label + p,
  .aligned label + div.help,
  .aligned label + div.readonly {
    margin-left: 0px;
  }
}