.admin-interface {
  // @todo: find where this is used
  .module.wide h2 {
    background: none;
    padding: $space;
    font-weight: 500;
    color: $color-black;
    @include size-large();
  }
  .submit-row input {
    // @todo unsure where 34 comes from
    height: 34px;
  }
}

