@media print {

  .no-print {
    display: none;
  }

  .usa-disclaimer,
  .navbar-title,
  .req .metadata,
  .req .req-text {
    color: $color-gray-darker !important;
  }

  .main {
    border-left: 0;
  }

  .list-reset {
    border-bottom: 1px solid $color-gray-darker;
  }

  .active-filter {
    margin: 0;
  }

  .requirement-list > li,
  .policy {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
  }

  .topics-list a,
  a:link {
    color: $color-gray-darker;
  }
}
