.usa-disclaimer {
  background-color: $color-gray-lightest;
  color: $color-gray-dark;
  font-size: 12px;
  padding: 0.25rem 1rem;
  line-height: 15px;
}

.navbar {
  background-color: $color-primary-darkest;
  height: 80px;
}

.navbar-title {
  color: $color-white;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
}
