.usa-disclaimer {
  background-color: #F1F1F1;
  color: #424C58;
  font-size: 12px;
  line-height: 15px;
  padding: 0.25rem 1rem;
}

.navbar {
  height: 80px;
  background-color: #122E51;
}

.navbar-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  color: #FFFFFF;
}
