.usa-disclaimer {
  background-color: $color-gray-lightest;
  color: $color-gray-dark;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  line-height: 0.9375rem;
}

.navbar {
  background-color: $color-primary-darkest;
}

.navbar-title {
  color: $color-white;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
