.homepage {
  .filter-form {
    background-color: $color-primary;
    border-top: 1px solid $color-white;
    color: $color-white;
  }

  .filter-form-submit {
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-white;
    &:hover {
      cursor: pointer;
    }
  }

  h2, h3, h4 {
    font-weight: normal;
    line-height: 1.25em;
  }

  .about-inner {
    border-left: 3px solid $color-gold;

    p {
      @include font-merriweather();
      letter-spacing: .5px;
      line-height: 1.375rem;
      width: 50vmax;
    }
  }

  .new-policies {
    background-color: $color-gray-lightest;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
  }
}
