.loading-indicator {
  $loader-color-cursor: #333;
  $loader-color: #ccc;

  text-align: center;

  .loading-spinner {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-color: $loader-color;
    border-right-color: $loader-color-cursor;
    display: inline-block;
  }
}
