.policy-list {
  h2 {
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 1.8rem;
  }

  .requirements-links {
    font-size: 1.1rem;
  }

  .icon-links {
    font-size: 0.9rem;
    padding-right: 1.1rem;
    text-align: right;
  }

  .external-link {
    background: url('/static/img/external-link.svg') no-repeat right;
  }

  .view-requirements-link {
    background: url('/static/img/view-all.svg') no-repeat right;
  }

  .circle-bg {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    line-height: 1.2rem;
    margin-top: -.5rem;
    margin-right: .2rem;

    a {
      text-align: center;
    }
  }

  .ninety-nine-plus {
    font-size: 0.9375rem;
  }
}
