.req {
  border-color: $color-gray-light;

  .req-id {
    @include font-source-sans-pro-semibold();
    color: $color-gray;
  }

  .req-text {
    color: $color-gray-dark;
  }

  .applies-to,
  .sunset-date {
    @include font-source-sans-pro();
    color: $color-gray;
    font-size: .8em;
  }
}

.organize-tabs {
  font-size: 1.125em;
}
