.req {

  .req-id {
    @include font-source-sans-pro-semibold();
    color: $color-gray;
  }

  .req-text {
    color: $color-gray-dark;
  }

  .metadata {
    @include font-source-sans-pro();
    color: $color-gray;
    font-size: 0.8125rem;
  }

  .topics {
    li:after {
      content: ', ';
    }

    li:last-child:after {
      content: '';
    }
  }
}

.organize-tabs {
  font-size: 1.125rem;
}

.collapsed {
  display: none;
}
