@import '~react-select/scss/default';

.active-filter {
  align-items: center;
  background-color: $color-gray-warm-light;
  font-weight: 500;
  font-size: 0.875em;

  .remove-filter-link {
    align-items: center;
    background-color: $color-secondary-darkest; 
    color: $color-white;
    height: 100%;
    right: 0;
    text-decoration: none;
  }

  .close-button {
    width: 100%;
  }
}

.req-filter-ui {

  .select {
    border-color: $color-gray-light;
    color: $color-gray-dark;
  }
}

