.req {
  border-color: $color-gray-light;

  .req-id {
   @include font-merriweather();
   color: $color-gray;
  }

  .req-text {
    @include font-merriweather-light();
    color: $color-gray-dark;
  }

  .applies-to,
  .sunset-date {
    @include font-source-sans-pro();
    color: $color-gray;
    font-size: .8em;
  }
}
