.filter-lookup-field {
  @include font-source-sans-pro();
  border-color: $color-gray-dark;
  border-right: 0;
  font-size: 0.875rem;
}

.add-filter-button {
  background: url('/static/img/add-icon.svg') no-repeat center;
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;
  cursor: pointer;
  text-indent: -9999px;
}

.Select-clear,
.Select-placeholder,
.Select-value-icon,
.Select-value-label {
  color: $color-gray;
}
