.node-paragraph {
  margin-bottom: 16px;
}

.document-header {
  margin-bottom: 40px;
}

.document-heading {
  margin-top: 8px;

  .original-link {
    margin-bottom: 8px;
  }
}

.original-link-container {
  margin-bottom: 8px;
}

.document-nav-heading {
  display: block;
  font-size: 1rem;
  line-height: 1.3rem;

  .sub-sections & {
    font-size: 0.875rem;
  }
}

.document-sidebar-nav {
  $spacing: 1rem;
  $active-width: 0.5rem;

  .document-nav-container {
    padding: $spacing;
    padding-left: $spacing + $active-width;
  }

  .document-nav-heading {
    border-bottom: 1px solid $color-lt-blue;
  }

  .document-nav-heading:hover .document-nav-container,
  .document-nav-heading.active .document-nav-container {
    background-color: $color-sky;
    border-left: $active-width solid $color-blue;
    padding-left: $spacing;
  }

  .sub-sections {
    padding-left: 1rem;
  }
}
