$one-pixel-value: 0.063;
$two-pixel-value: $one-pixel-value * 2;
$one-pixel: $one-pixel-value + rem;

$footnote-vertical-margin-value: 1.5;
$footnote-vertical-margin: $footnote-vertical-margin-value + rem;

$triangle-dimensions-value: 1.125;
$triangle-dimensions: $triangle-dimensions-value + rem;

$triangle-border-vertical-offset: ($triangle-dimensions-value + $footnote-vertical-margin-value - $two-pixel-value) + rem;

@mixin footnote-border-triangle-up() {
  content: '';
  position: absolute;
  background: $color-white;
  height: $triangle-dimensions;
  width: $triangle-dimensions;
  margin-left: -9px;
  left: 50%;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
  border-top: 1px solid $color-primary-darker;
  border-right: 1px solid $color-primary-darker;
}

.footnote-link {
  @include font-san-serif();
  border: 1px solid $color-cool-blue-lighter;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.7em;
  margin-left: .3em;
  background-color: $color-white; // override any highlighting
  position: relative;

  &.active {
    border-color: $color-primary-darker;
    background: $color-primary-darker;
    color: $color-white;

    &::before {
      @include footnote-border-triangle-up();
      top: $triangle-border-vertical-offset;
      z-index: 10;
    }
  }
}

.inline-footnote {
  .node-footnote-content {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footnote-wrapper {
    display: block;
    border-top: $one-pixel solid $color-primary-darker;
    border-bottom: $one-pixel solid $color-primary-darker;
    margin-top: $footnote-vertical-margin;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.2em;
  }

  // It's ok to add outline: none here for accessibility purposes.
  // For more details, see: https://youtu.be/ifW_oy9hajU
  .footnote-wrapper[tabindex="-1"] {
    outline: none;
  }

  .node-footnote {
    font-size: 0.9em;
    display: block;
  }

  .citation-marker {
    @include font-san-serif-bold();
    @extend .col;
    @extend .col-1;
    width: 2.5em;
    font-size: .9em;
    line-height: 1.5em;
    text-align: right;
    padding-right: .5em;
  }

  .footnote-text {
    @extend .col;
    @extend .m0;
    @extend .col-11;
    width: calc(100% - 3em);
    color: $color-gray-medium;
  }

  .close-button {
    @extend .bland-box;
    @extend .mx-auto;
    @include font-san-serif-bold();
    color: $color-primary-darker;
    font-style: normal;
    font-size: .8em;
    display: block;
    margin-top: 0.5rem;
    cursor: pointer;

    &::before {
      content: '✕';
      margin-right: 0.4em;
      font-weight: 100;
    }
  }
}

.bottom-footnotes {
  border-top: 1px solid $pallet-blue;
  margin-top: 2.5em;
  padding-top: .75em;

  .node-footnote {
    @extend .clearfix;
    display: block;
    margin-bottom: .875em;
  }

  .citation-marker {
    @include font-san-serif-bold();
    @include paragraph-marker();
    font-size: .875em;
    line-height: 1em; // like font-text, except adjusting for bold
  }

  .footnote-text,
  p {
    @include paragraph-with-marker();
    @extend .m0;
    color: $color-gray-medium;
    font-size: .875em;
    line-height: 1.125em;
  }
}

.footnote-text {
  @include font-san-serif();
  font-style: normal;
  color: $color-gray-medium;
}
