.footnote-link sup {
  @include font-san-serif-bold();
  border: 1px solid $color-cool-blue-lighter;
  border-radius: 4px;
  padding: 1px 5px 5px 2px;
  font-size: 0.6em;
  margin-left: .3em;
}

.footnote-link.active sup {
  background: $color-cool-blue;
  color: $color-white;
}

.node-footnote {
  border-bottom: 1px solid $color-gray-dark;
  border-top: 1px solid $color-gray-dark;
  margin: 1em 2em;

  .text {
    color: $color-gray-medium;
  }
}
