.usa-disclaimer {
  background-color: $pallet-white;
  color: $pallet-gray;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  line-height: 0.9375rem;
  align-items: center;
}

.usa-disclaimer-flag {
  height: 13px;
  width: 20px;
  padding-right: 10px;
}

.usa-disclaimer-text {
  padding-left: 30px;   // flag's dimensions
  @media #{$breakpoint-sm} {
    text-align: right;
  }
}

.navbar {
  background-color: $pallet-navy;
}

.navbar-title {
  display: inline-block;
  color: $pallet-white;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.25rem;
  margin-bottom: .67em;
  margin-top: .67em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;

  sup {
    font-size: 0.625rem;
    padding-left: 0.2rem;
  }
}

@media (max-width: 52em) {

  .navbar {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .header-search {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .header-search-form {
    padding-bottom: 1rem;
  }
}

.header-search-form {
  @extend .no-print;
  position: absolute;
  padding-left: 1rem;
  padding-right: 1rem;
  right: 0;

  form {
    @extend .mb0;
    @extend .flex;
    @extend .items-center;
  }

  .search-input {
    @include font-san-serif();
    border: 1px solid;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 0.75rem;
    padding: 0.54rem;
    width: 20rem;
  }

  .search-submit {
    background-color: $pallet-white;
    border: 1px solid;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.54rem;
  }
}

@media (max-width: 52em) {
  .header-search-form {
    position: relative;

    .search-input {
      padding: 0.56rem;
    }

    .search-submit {
      padding: 0.57rem;
    }
  }
}
