.homepage {
  .filter-form {
    background-color: $color-blue;
    border-top: 1px solid $color-white;
    color: $color-white;
    padding-left: $space-sm;
    padding-right: $space-sm;
  }

  h2,
  h3,
  h4 {
    font-weight: normal;
    line-height: 1.25em;
  }

  @media (max-width: 52em) {
    .filter {
      padding-left: 0;
      padding-right: 0;
    }

    .search-input {
      width: 100%;
      margin-bottom: $space;
    }
  }

  .new-policies {
    background-color: $color-white;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
  }

  .search-input {
    width: 55%;
    min-width: 260px;
    max-width: 350px;
    padding: $space-xs;
    margin-right: $space-xs;
    margin-bottom: $space;
  }

  .search-submit {
    @extend .button-like;
    @extend .border;
    @extend .h5;
  }

  .navbar {
    flex-direction: row;
  }
}

@media (max-width: 52em) {
  .homepage {
    .about-inner {
      p {
        width: 100%;
      }
    }

    .new-policies {
      padding: $space-xl $space;
    }
  }
}
