.homepage {
  .filter-form {
    background-color: $pallet-blue;
    border-top: 1px solid $pallet-white;
    color: $pallet-white;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  h2,
  h3,
  h4 {
    font-weight: normal;
    line-height: 1.25em;
  }

  @media (max-width: 52em) {
    .filter {
      padding-left: 0;
      padding-right: 0;
    }

    .search-input {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .new-policies {
    background-color: $color-gray-lightest;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
  }

  .search-input {
    width: 55%;
    min-width: 260px;
    max-width: 350px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  .search-submit {
    @extend .button-like;
    @extend .border;
    @extend .h5;
  }

  .navbar {
    flex-direction: row;
  }
}

@media (max-width: 52em) {
  .homepage {
    .about-inner {
      p {
        width: 100%;
      }
    }

    .new-policies {
      padding: 2rem 1rem;
    }
  }
}
