// utils/_landing.scss
// ==========================================================================
// "Landing" pages are copy-heavy pages with a centered main column and
// several re-usable styles.

.landing-section {
  @extend .sm-col-12;
  @extend .md-col-6;
  @extend .mx-auto;

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
    line-height: 1.25em;
  }

  .content {
    @include font-serif();
    letter-spacing: .5px;
    line-height: 1.375rem;
  }

  .gold-border {
    width: 50vmax;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.gold-border {
  @extend .px2;

  border-left: 3px solid $color-gold;
}
