.policy-list {
  h2 {
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 1.8rem;
  }

  .requirements-links {
    font-size: 1.1rem;
  }

  .circle-bg {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    line-height: 1.2rem;
    margin-top: -$space-xs;
    margin-right: .2rem;

    a {
      text-align: center;
    }
  }

  .ninety-nine-plus {
    font-size: 0.9375rem;
  }
}
