.req {

  .req-text {
    color: $pallet-black;
  }

  .metadata {
    @include font-san-serif();
    color: $pallet-black;
    font-size: 0.8125rem;
  }

  .topics {
    li::after {
      content: ', ';
    }

    li:last-child::after {
      content: '';
    }
  }
}

.organize-tabs {
  font-size: 1.125rem;
}

.requirement-content {
  background-color: $pallet-canary;
  border-right: 3px solid $pallet-black;
  padding-right: 4px;
}
