@import '~react-select/scss/default';

.active-filter {
  background-color: $pallet-lt-gray;
  border: 1px solid $pallet-gray;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.25rem;
  padding-left: 0.50rem;

  .remove-filter-link {
    background: url('/static/img/remove-btn.svg') no-repeat center;
    color: $pallet-black;
    padding: 0 0.25rem;
    text-indent: -9999px;
    width: 0.9375rem;
  }
}

.filter-ui {

  .select {
    border-color: $pallet-gray;
    color: $pallet-gray;
  }
}

.alert {
  background-color: $color-gold-lightest;
  border-color: $color-gold;
}

@media (max-width: 52em) {
  .filter-ui {
    margin-top: 0;
  }

  .sidebar {
    background-color: $pallet-lt-gray;
  }

  .filter-header {
    display: none;
  }
}
