.filter-lookup-field {
  @include font-san-serif();
  border-color: $pallet-gray;
  border-right: 0;
  font-size: 0.875rem;
}

.add-filter-button {
  background-color: $pallet-blue;
  border-color: $pallet-blue;
  color: $pallet-white;
  cursor: pointer;

  &.homepage-filter-button {
    border-color: $pallet-gray;
  }
}

.Select-clear,
.Select-placeholder,
.Select-value-icon,
.Select-value-label {
  color: $color-gray;
}
