$basic-spacing: 1rem;
$medium-spacing: 2.5rem;

.styleguide-container {
  padding: $basic-spacing;
  max-width: 800px;
  margin: 0 auto;

  >.document-header {
    margin-bottom: $basic-spacing;
  }
}

.styleguide-example {
  border: 1px solid $color-lt-gray;
  padding: $basic-spacing $medium-spacing;
}

.example-title {
  margin-top: $medium-spacing;
  margin-bottom: $basic-spacing;
}
