{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if adminform.form.password1 %}
  HERE
  {% endif %}
  {% if not is_popup %}
    {% if adminform.form.password1 %}
      <p>{% trans "First, enter a username and password. Then, you'll be able to edit more user options." %}</p>
    {% else %}
      <p>{% trans "First, enter a username. Then, you'll be able to edit more user options." %}</p>
    {% endif %}
  {% else %}
    {% if adminform.form.password1 %}
      <p>{% trans "Enter a username and password." %}</p>
    {% else %}
      <p>{% trans "Enter a username." %}</p>
    {% endif %}
  {% endif %}
{% endblock %}
