<div class="bg-white p2">

  <h1 class="border-bottom pb1 mb2">Typography</h1>

  <h2 class="type-gray">Headings</h2>

  <div class="border my2 p1 max-width-1">
    <div class="py1">
      <h1>Heading 1</h1>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
    <div class="py1">
      <h2>Heading 2</h2>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
    <div class="py1">
      <h3>Heading 3</h3>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
    <div class="py1">
      <h4>Heading 4</h4>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
    <div class="py1">
      <h5>Heading 5</h5>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
    <div class="py1">
      <h6>Heading 6</h6>
      <p class="m0 p0 regular type-gray">
        System font - sans<br>
        size: 32px (2em)<br>
        line-height: 40px (2.5em)<br>
        color: black<br>
      </p>
    </div>
  </div>

  <h2 class="type-gray">Body text</h2>

  <div class="max-width-2">
    <p>This memorandum defines a framework for achieving the data center consolidation and optimization requirements of FITARA, the criteria for successful agency data center strategies, and the metrics OMB OFCIO will use to evaluate the success of those strategies.</p>

    <h1>Background</h1>
    <p>In 2010, the Office of Management and Budget (OMB) launched the Federal Data Center Consolidation Initiative (FDCCI) to promote the use of green IT by reducing the overall energy and real estate footprint of government data centers; reduce the cost of data center hardware, software, and operations; increase the overall IT security posture of the Federal Government; and shift IT investments to more efficient computing platforms and technologies.</p>

    <h2>Leadership and Responsibilities</h2>
    <p>The DCOI, as described in this memorandum, requires agencies to develop and report on data center strategies to consolidate inefficient infrastructure, optimize existing facilities, improve security posture, achieve cost savings, and transition to more efficient infrastructure, such as cloud services and inter-agency shared services.4</p>

    <h3>Leadership and Responsibilities</h3>
    <p>The requirements in this memorandum apply to all CFO Act agencies,5 including the Department of Defense.6</p>

    <h4>Cloud investment</h4>
    <p>In this role, OGP will serve as a trusted agent and subject matter expert to assist data center providers and consumers of data center services by providing guidance on technology advancements, innovation, cybersecurity, and best practices.</p>

    <h5>Cloud investment</h5>
    <p>In addition, FITARA requires the Administrator of the Office of E-Government and Information Technology (henceforth referred to as the Office of the Federal Chief Information Officer (OFCIO)3) to establish and publish cost savings and optimization improvements, provide public updates on cumulative cost savings and optimization improvements, and review agencies’ data center inventories and the implementation of data center management strategies.</p>

  </div>

</div>
