@import '~codemirror/addon/dialog/dialog.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/eclipse.css';
@import '~normalize.css/normalize.css';
@import '~prosemirror-view/style/prosemirror.css';
@import '~prosemirror-menu/style/menu.css';

@import '../shared-styles/base/colors';
@import '../shared-styles/base/fonts';
@import '../shared-styles/base/media-queries';
@import '../shared-styles/base/spacing';
@import '../shared-styles/base/type-size';
@import '../shared-styles/base/util';
@import '../shared-styles/layout/markers';
@import '../shared-styles/module/heading';
@import '../shared-styles/module/list';
@import '../shared-styles/module/paragraph';

@import './base/variables';
@import './overrides/django/base';
@import './overrides/django/changelists';
@import './overrides/django/forms';
@import './overrides/django/widgets';
@import './overrides/admin_interface/admin-interface-fix';

@import './layout/header';
@import './layout/navigation';

@import './module/editor';

.footnote:before {
    content: attr(data-emblem);
    font-weight: bold;
}

.footnote {
    border-top: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
    padding: 1em;
    margin: 1em 0;
}
