<div class="bg-white px1 pb1">

  <h1 class="m2 pb1 border-bottom">Color</h1>

  <div class="clearfix m1">
    <div class="col">
      <div class="p4 m1 bg-navy"></div>
      <div class="mx1">
        navy<br>
        #112E51
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-blue"></div>
      <div class="mx1">
        blue<br>
        #1168A6
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-lt-blue"></div>
      <div class="mx1">
        lt-blue<br>
        #88D8F6
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-sky"></div>
      <div class="mx1">
        sky<br>
        #EDFCFF
      </div>
    </div>
  </div>

  <div class="clearfix p1">
    <div class="col">
      <div class="p4 m1 bg-ochre"></div>
      <div class="mx1">
        ochre<br>
        #8C7C2A
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-gold"></div>
      <div class="mx1">
        gold<br>
        #FFDC37
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-med-gold"></div>
      <div class="mx1">
        med-gold<br>
        #FFEE99
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-lt-gold"></div>
      <div class="mx1">
        lt-gold<br>
        #F0E6B6
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-sunshine"></div>
      <div class="mx1">
        lt-sunshine<br>
        #FFFAE3
      </div>
    </div>
  </div>

  <div class="clearfix p1">
    <div class="col">
      <div class="p4 m1 bg-black"></div>
      <div class="mx1">
        black<br>
        #000000
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-gray"></div>
      <div class="mx1">
        gray<br>
        #727375
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-lt-gray"></div>
      <div class="mx1">
        lt-gray<br>
        #CECFD1
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-white border"></div>
      <div class="mx1">
        white<br>
        #FFFFFF
      </div>
    </div>
  </div>

  <div class="clearfix p1">
    <div class="col">
      <div class="p4 m1 bg-red"></div>
      <div class="mx1">
        red<br>
        #E21C3D
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-green"></div>
      <div class="mx1">
        green<br>
        #128657
      </div>
    </div>
    <div class="col">
      <div class="p4 m1 bg-lt-green"></div>
      <div class="mx1">
        lt-green<br>
        #EDFFF8
      </div>
    </div>
  </div>

</div>
