$color-gray-lightest: #fafafa;

:root {
  font-size: 16px;
}

a,
a:link {
  color: $color-primary;
  text-decoration: none;
}

.gray-border {
  border-color: $color-gray-light;
}

.main {
  min-height: 480px;
  padding-bottom: 2rem;
}
