$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~basscss-sass/scss/basscss';
@import '~nprogress/nprogress.css';
@import '~katex/dist/katex.css';
@import '~system-font-css/system-font';

@import '../../../shared-styles/base/colors';
@import '../../../shared-styles/base/fonts';
@import '../../../shared-styles/base/media-queries';
@import '../../../shared-styles/base/spacing';
@import '../../../shared-styles/base/type-size';
@import '../../../shared-styles/base/util';
@import '../../../shared-styles/layout/markers';

@import '../../../ui/css/base/base';

@import '../../../ui/css/layout/typography';
@import '../../../ui/css/layout/layout';
@import '../../../ui/css/layout/icons';

@import '../../../ui/css/state/print';

@import '../../../ui/css/module/header';

@import '../../../shared-styles/module/heading';


.bg-black {
  background-color: $color-black;
}

.bg-dk-gray {
  background-color: $color-dk-gray;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-lt-gray {
  background-color: $color-lt-gray;
}

.bg-very-lt-gray {
  background-color: $color-very-lt-gray;
}

.bg-white {
  background-color: $color-white;
}

.bg-navy {
  background-color: $color-navy;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-lt-blue {
  background-color: $color-lt-blue;
}

.bg-sky {
  background-color: $color-sky;
}


.bg-ochre {
  background-color: $color-ochre;
}

.bg-gold {
  background-color: $color-gold;
}

.bg-med-gold {
  background-color: $color-med-gold;
}

.bg-lt-gold {
  background-color: $color-lt-gold;
}

.bg-canary {
  background-color: $color-canary;
}

.bg-sunshine {
  background-color: $color-sunshine;
}


.bg-red {
  background-color: $color-red;
}

.bg-dk-red {
  background-color: $color-dk-red;
}

.bg-green {
  background-color: $color-green;
}

.bg-lt-green {
  background-color: $color-lt-green;
}


.type-gray {
  color: $color-gray;
}
