boto3
cfenv
django>=1.11,<1.12
django-admin-interface
django-cas-ng
django-cors-headers
django-filter
django-reversion
django-storages
djangorestframework
dj-database-url
gunicorn
lxml
networkx
newrelic
pdfminer.six
psycopg2
python-dateutil
requests
tqdm
whitenoise
