-r requirements.txt
bandit
django-debug-toolbar
flake8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-isort
flake8-pep3101
flake8-print
flake8-string-format
flake8-tuple
jedi
model_mommy
pep8-naming
pyinotify
pytest
pytest-cov
pytest-django
pytest-watch
tqdm
mypy
