$color-gray-lightest: #fafafa;

:root, html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5em;
  color: black;
}

a,
a:link {
  color: $color-primary;
  text-decoration: none;
}

.gray-border {
  border-color: $color-gray-light;
}

.main {
  min-height: 480px;
  padding-bottom: 2rem;
}
