$color-gray-medium:          #757575 !default; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5 !default; // lighten($color-gray-dark, 60%)
$color-gray-lightest:        #fafafa !default;

$color-gray-warm-light:      #e4e2e0 !default; // lighten($color-gray-warm-dark, 90%)

$color-gold:                 #fdb81e !default;
$color-gold-lightest:        #fff1d2 !default; //  lighten($color-gold, 83%)

$color-cool-blue-lighter:    #8ba6ca !default; // lighten($color-cool-blue, 60%)

$pallet-yellow-dark:         #f3ecc9 !default;

// New pallet
$pallet-black:               #000000;
$pallet-gray:                #727375;
$pallet-lt-gray:             #cecfd1;
$pallet-white:               #ffffff;

$pallet-navy:                #112e51;
$pallet-blue:                #1067a6;
$pallet-lt-blue:             #bfe2f0;
$pallet-sky:                 #e5f6fd;
$pallet-cloud:               #edf9fe;

$pallet-ochre:               #8c7c2a;
$pallet-gold:                #ffdc37;
$pallet-lt-gold:             #f0e6b6;
$pallet-canary:              #ffee99;
$pallet-sunshine:            #fffae3;

$pallet-red:                 #e21c3d;
$pallet-cyan:                #00aeef;
$pallet-green:               #28a573;
