$pallet-yellow-dark:         #f3ecc9 !default;

// New pallet
$pallet-black:               #000000;
$pallet-gray:                #727375;
$pallet-lt-gray:             #cecfd1;
$pallet-white:               #ffffff;

$pallet-navy:                #112e51;
$pallet-blue:                #1067a6;
$pallet-lt-blue:             #bfe2f0;
$pallet-sky:                 #e5f6fd;
$pallet-cloud:               #edf9fe;

$pallet-ochre:               #8c7c2a;
$pallet-gold:                #ffdc37;
$pallet-lt-gold:             #f0e6b6;
$pallet-canary:              #ffee99;
$pallet-sunshine:            #fffae3;

$pallet-red:                 #e21c3d;
$pallet-cyan:                #00aeef;
$pallet-green:               #28a573;
