$color-black:               #000000;
$color-gray:                #727375;
$color-lt-gray:             #cecfd1;
$color-white:               #ffffff;

$color-blue:                #1067a6;
$color-lt-blue:             #bfe2f0;
$color-sky:                 #e5f6fd;

$color-ochre:               #8c7c2a;
$color-gold:                #ffdc37;
$color-lt-gold:             #f0e6b6;
$color-canary:              #ffee99;
$color-sunshine:            #fffae3;
